.groupss .short {
    width: 25px;
    padding: 7px;
    background-color: green;
    text-align: center;
    border-radius: 100%;
}

.groupss {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 20px;
    padding-left: 25px;
}
.groupss:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

.main {

    text-align: center;
 
    position: relative;
   

}

.main h2 {
    position: fixed;
    top: 0;
    left: 30px;
}

.addgroup {

    background-color: #16008B;
    width: 55px;
    height: 55px;
    font-size: 45px;
    color: #fff;
    padding: 0px 2px 6px 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    position: fixed;
    bottom: 25px;
    left: 20%;
    cursor: pointer;
}

.group-info {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    overflow-y: scroll;
    white-space: nowrap;
    max-height: 90vh;


}
.group-info::-webkit-scrollbar {
    
    background: none;
  }

.group-info-container {


    padding-top: 3rem;
}

@media screen and (min-width: 780px) and (max-width: 900px) {
    .addgroup {
      left: 18%;
    }
  }
/* /media query start */
@media (max-width: 780px) {
    .main {
        width: 100vw;
     

    }
    .group-info-container{
       
    }
    .addgroup{
       left: 80%;
    }
}