.top-part{
    background-color: #001F8B;
   display: flex;
   justify-content: start;
   align-items: center;
   gap: 50x;
   padding-left: 50px;
  
}
.main-part{
   background-color: #DAE5F5;
   position: relative;
  
 
}
.input-notes{
    display: grid;
    justify-content: center;
    align-items: center;
   
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 20vh;
   
    background-color: #001F8B;
    
}
.input-notes input{
    width: 65vw;
    height: 14vh;
    margin-left: -25vw;
    background-color: aquamarine;
   
}
.all-content{
    max-height: 66vh;
    height: 66vh;
    padding-bottom: 4vh;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-left: 20px;
}
.content-data{
   
    margin-top: 20px;
    width: 66vw;
    
    align-items: center;
}
.input-notes img{
    position: fixed;
    z-index: 1000;
    width: 30px;
    cursor: pointer;
    right: 40px;
    bottom: 55px;
}
.content-data p{
    background-color: #fff;
    padding: 10px;
    
}

@media (max-width: 768px){
    .main-part{
        width: 100vw;
    }
    .all-content{
        height: 66vh;
        overflow: scroll;
        padding-bottom: 4vh;

    }
    .input-notes{
        padding: 0;
        width: 100vw;
    }
    .input-notes input{
        margin-left: 0;
        width: 82vw;
        height: 14vh;
    }
}