.top-part {
    background-color: #001F8B;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 50x;
    padding-left: 50px;

}

.main-part {
    background-color: #DAE5F5;
    position: relative;


}

.input-notes {
    display: grid;
    justify-content: center;
    align-items: center;

    position: fixed;
    width: 100%;
    bottom: 0;
    height: 20vh;

    background-color: #001F8B;

}

.input-notes textarea {
    width: 65vw;
    height: 14vh;
    margin-left: -25vw;
    padding-top: 15px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 15pxs;
    font-family: 'Roboto', sans-serif;
    outline: none;

}
.groups{
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 20px;
    padding-left: 25px;
    
}
.back:hover{
    background-color: rgba(0, 0, 0, 0.3);
  
    border-radius: 50%;
}
.groups .short{
    width: 25px;
    padding: 7px;
    background-color: green;
    text-align: center;
    border-radius: 100%;
}
.input-notes textarea::-webkit-scrollbar {
    /* width of the entire scrollbar */
    background: none;
  }

.all-content {
    max-height: 66vh;
    height: 66vh;
    padding-bottom: 4vh;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    text-align: left;
    align-items: center;
    padding-left: 20px;

}

.content-data {

    margin-top: 20px;
    width: 66vw;

    align-items: center;
}

.input-notes img {
    position: fixed;
   
    width: 30px;
    cursor: pointer;
    right: 40px;
    bottom: 55px;
}

.content-data p {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;

}

@media (max-width: 780px) {
    .main-part {
        width: 100vw;
    }
    .input-notes img{
        right: 10%;
    }
    .all-content {
        height: 66vh;
        overflow: scroll;
        padding-bottom: 4vh;

    }

    .input-notes {
        padding: 0;
        width: 100vw;
    }

    .input-notes textarea {
        margin-left: 0;
        width: 80vw;
        padding-left: 12px;
        height: 14vh;
    }
}